
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .main .main__aside {
    width: 30%;
    min-height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main .main__products {
    width: 69%;
    min-height: 80dvh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main__products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }